@import url('https://rsms.me/inter/inter-ui.css');

html{
    background-color: white;
    font-family: 'Inter UI', sans-serif;
}

a{
    text-decoration: none;
    color: #3c9bfa;
}

img{
    max-width: 300px;
}

p{
    font-size: 18px;
    color: #737373;
}

h1, h3{
    color: #3c9bfa;
    margin: 0;
}

.container-outer {
    max-width: 1000px;
    background-color: #ededed;
    padding: 10px;
    margin: 0 auto;
}

.container {
    background-color: white;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
}

.card-outer{
    grid-column: span 4;
    background-color: #ededed;
    padding: 10px;
}

.card{
    background-color: white;
    text-align: center;
    padding: 10px;
    justify-content: space-between;
}

.header{
    grid-column: span 12;
    background-color: white;
    text-align: center;
}

.btn-primary{
    background-color: #3c9bfa;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 0px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}

.btn-secondary{
    background-color: #ededed;
    color: black;
    font-size: 14px;
    border: none;
    border-radius: 0px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}